@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #D6FF79;
    --light-grey: #424549;
    --grey: #36393E;
    --dark-grey: #282B30;
    --dark: #1E2124;
    font-family: "Nunito Sans", sans-serif;
}